.App {
  text-align: center;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 0.8rem;
  margin: 5px;
  box-shadow: 0 2px 3px gray;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.section {
  display: flex;
  justify-content: space-between;
}
